.section1 {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.section2 {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.section4 {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.saveText {
  font-family: "Great Vibes", cursive;
  font-size: 6em;
  color: var(--cinder);
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.35);
}

.section5 {
  height: 100vh;
}

.timer {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.timer-text-1 {
  font-family: "Great Vibes", cursive;
  font-size: 5em;
  color: var(--red6);
  padding: 5px;
  display: flex;
  align-content: center;
  gap: 15px;
  margin: 0;
}

.timer-text-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: var(--red6);
}

.timer-text-3 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 20px;
  color: var(--red5);
  font-weight: bolder;
  font-size: 1.75em;
}

.timer-text-4 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: var(--red5);
}

.flower1 {
  max-width: 20%;
  position: relative;
  top: -10;
}

.photo1 {
  flex: 0.5;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  height: 100vh;
  width: 50%;
}

.frames {
  width: 800px !important;
}

.groomText {
  background-color: lightcoral;
}

.brideText {
  background-color: lightcyan;
}

.photo2 {
  width: 25%;
}

.events {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.clock {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.unit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./Components/Art-Assets/clock-bg.png) center center/cover
    no-repeat local;
  width: 140px;
  height: 140px;
}

.people-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-text-1 {
  font-family: "Great Vibes", cursive;
  font-size: 5em;
  color: var(--red5);
  padding: 5px;
  display: flex;
  align-content: center;
  gap: 15px;
  margin: 0;
}

.extra-flower {
  width: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}

.name-text-2 {
  font-family: "Great Vibes", cursive;
  font-size: 3em;
  color: var(--red5);
  padding: 5px;
  display: flex;
  align-content: center;
  gap: 15px;
  margin: 0;
}

.event-container {
  flex: 0.45;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  /* background: rgba(221, 222, 217, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.event {
  background-color: aqua;
}

@media all and (max-width: 767px) {
  .section1 {
    flex-direction: column;
    padding-top: 40px;
  }

  .section2 {
    flex-direction: column;
  }

  .section4 {
    flex-direction: column;
  }

  .events {
    flex-direction: column;
  }

  .timer-text-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .saveText {
    font-size: 60px;
  }

  .calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
  }

  .name-text-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .name-text-2 {
    font-size: 2em;
  }

  .clock {
    gap: 10px;
  }

  .unit-container {
    width: 50px;
    padding: 15px;
    border-radius: 20px;
  }

  .extra-flower {
    width: 100px;
  }

  .timer-text-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 01em;
    padding-top: 30px;
  }

  .unit-container .timer-text-2 {
    padding-top: 0;
    /* font-family: "Great Vibes", cursive; */
  }
  .flower2 {
    width: 50%;
  }
  .flower3 {
    width: 50%;
  }
}

.slideshow-image {
  width: 100%;
}

/* // Add-on */

.wrapper {
  box-sizing: border-box;
  padding: 50px;
  margin: 0;
}

.items {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(131.83deg, #fffafa 0%, #fff7f7 99.21%);
  width: 100%;
  text-align: center;
  border-radius: 16px;
  position: relative;
  padding: 10px;
}

.item:not(:last-child) {
  margin-right: 100px;
}
.item::before {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-image: linear-gradient(
    312.25deg,
    #ffc4bc 0%,
    rgba(255, 255, 255, 0) 66.19%
  );
  z-index: -1;
  border-radius: 18px;
}

.inner {
  background-color: var(--red1);
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 40px 80px #fbe4e0;
  border-radius: 14px;
  padding: 20px;
}

.name {
  font-size: 48px;
  margin: 0;
}

.hyprLink {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: var(--red6);
  text-decoration: none;
  border: 2px solid var(--red5);
  padding: 5px;
  border-radius: 10px;
}

.hyprLink:hover {
  color: var(--red1);
  background-color: var(--red6);
}

.hyprLink:active {
  color: var(--red1);
  background-color: var(--red6);
}
