:root {
  --cinder: #23292e;
  --cavernPink: #dfb3ae;
  --porcelain: #ddded9;
  --equator: #e4b6c2;
  --red1: #fff8f8;
  --red2: #fde0e0;
  --red3: #f4c1c1;
  --red4: #fdaaaa;
  --red5: rgb(128, 0, 0);
  --red6: rgb(128, 0, 0);
}

* {
  -ms-overflow-style: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  position: relative;
}
